[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Desktop/PicDrop.desktop]
row=1
col=8

[/root/Desktop/mtpaint.desktop]
row=0
col=4

[/root/Desktop/conkytoggle.desktop]
row=0
col=8

[/root/Desktop/Puppy Linux Discussion Forum __ View topic - Light-Debian-Core-Live-CD-Wheezy + Porteus-Wheezy.desktop]
row=1
col=5

[/root/Desktop/chromium-browser-puppy-home.desktop]
row=9
col=0

[/root/Desktop/iron_flash_puppy_pepper_home.desktop]
row=7
col=0

[/root/Desktop/gnome-mplayer.desktop]
row=0
col=3

[/root/Desktop/synaptic.desktop]
row=0
col=2

[/root/Desktop/DogRadio.desktop]
row=0
col=9

[/root/Desktop/gtk-youtube-viewer.desktop]
row=1
col=6

[/root/Desktop/Create Savefile.desktop]
row=0
col=5

[/root/Desktop/firefox.desktop]
row=1
col=4

[/root/Desktop/Remaster-porteus-wheezy.desktop]
row=0
col=6

[/root/Desktop/DebianDog-Installer.desktop]
row=0
col=7

[/root/Desktop/leafpad.desktop]
row=1
col=3

[/root/Desktop/slimjet-puppy-home.desktop]
row=10
col=0

[/root/Desktop/education-coronavirus]
row=8
col=0

[/root/Desktop/exo-terminal-emulator.desktop]
row=1
col=7

[7A3C20663C20201D]
row=4
col=0

[2050BE7B50BE576E]
row=6
col=0

[B2A0A43AA0A40747]
row=2
col=0

[a1b1fca2-79b3-4433-94e3-ed5cd3f6a584]
row=3
col=0

[07CC21872120B5D1]
row=5
col=0

[/]
row=1
col=0

[/root]
row=0
col=0

